body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* HERO */
.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

/* SLIDER */
.hero-slider {
  position: absolute;
  inset: 0;
}

.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* CONTENT */
.hero-inner {
  position: relative;
  z-index: 2;
  color: white;
  padding: 100px;
}
